--1.soru
SELECT*FROM country
WHERE country ILIKE 'A%a';

--2.soru
SELECT country,country_id FROM country
WHERE country_id >= 6 AND country LIKE '%n' AND LENGTH(country) >= 6;

--3.soru
SELECT title FROM film
WHERE  LENGTH(title) - LENGTH(REPLACE(LOWER(title), 't', '')) >= 4;

--4.soru
SELECT*FROM film
WHERE (title LIKE 'C%' AND LENGTH(title)>90 AND rental_rate=2.99);
